ConsumerManagementClient/ConsumerManagementClient/Connected Services/ConsumerManagementService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConsumerManagementService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConsumerManagementService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConsumerFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="consumerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dueDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsumerFault" nillable="true" type="tns:ConsumerFault" />
</xs:schema>